button{
    background-color: #4E8BFE;
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    text-transform: capitalize;
    color: #fff;
    transition: 0.2s;
    border: none;
    font-size: 1rem;
}

button:hover{
    background-color: #3E6FCB;
}