body{
    margin: 0;
    font-family: 'Nunito';
    color: #444;
    background-color: #eee;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.login{
    background-color: #fff;
    padding: 24px;
    border-radius: 4px;
    border: solid 1px #ccc;
    max-width: 300px;
    text-align: center;
}

.login h1{
    margin: 0;
}

input{
    display: block;
    width: 100%;
    box-sizing: border-box;
    border: none;
    padding: 8px;
    font-size: 1rem;
}

.input-container{
    display: flex;
    border-bottom: solid 1px #ccc;
    margin-bottom: 24px;
}

.input-container:hover{
    border-bottom: solid 1px #4E8BFE;
}

.div-span{
    display: flex;
    align-items: center;
}

.div-span span{
    color: #3E6FCB;
    font-size: 1rem;
}

input:focus{
    outline: none;
}

.btn{
    background-color: #4E8BFE;
    padding: 12px;
    border-radius: 4px;
    text-transform: capitalize;
    color: #fff;
    transition: 0.2s;
    border: none;
}

.btn:hover{
    background-color: #3E6FCB;
}

.img-login{
    width: 80px;
}

a{
    color: #3E6FCB;
    text-decoration: none;
}

.signup{
    margin-bottom: 0;
}

a:hover{
    color: #4E8BFE;
}

@media only screen and (max-width: 600px){
    .login{
        width: 100%;
        height: 100%;
    }
}